<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838368327211-9dlk7ib509ltr8qjafsi5kpj92igg163.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838368327211-9dlk7ib509ltr8qjafsi5kpj92igg163</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>838368327211-9vi6j03c5tmmb9egd2f12g36sh3cq6e4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCctzVHVUluyKQQvX7GffbCYZxZQND62p0</string>
	<key>GCM_SENDER_ID</key>
	<string>838368327211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saan.app</string>
	<key>PROJECT_ID</key>
	<string>saan-app</string>
	<key>STORAGE_BUCKET</key>
	<string>saan-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838368327211:ios:374d6e38b28141ae20dc6e</string>
	<key>DATABASE_URL</key>
	<string>https://saan-app.firebaseio.com</string>
</dict>
</plist>